<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title th:text="${chatRoom.roomName}">Chat Room</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/js/chat/chat.js}"></script>
    <link rel="stylesheet" href="/css/chat/room.css">
</head>
<body>

<div class="container">
    <header>
        <a class="logo" th:href="@{/home}">
            <h2 class="logo-text"> In Concert </h2>
        </a>
    </header>
    <div class="title-container">
        <h1 id="chatRoomTitle" th:text="${chatRoom.roomName}">Chat Room</h1>
        <div id="hamburger-btn" onclick="toggleUserList()">
            <p>☰</p>
            <!-- 유저 목록을 표시할 공간 -->
            <div id="user-list-container">
                <h2>대화 상대</h2>
                <ul id="user-list">
                    <!-- JS로 동적으로 유저를 추가 -->
                </ul>
                <div>
                    <button onclick="confirmLeaveChatRoom()">나가기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <a th:href="@{/chat/list}">내 채팅</a>
    </div>

    <ul id="chat" class="chat-list">
        <li th:each="message : ${messages}">
            <div class="not-my-message" th:if="${message.nickname != user.nickname && !message.notice}">
                <div class="message-header">
                    <img th:src="@{${message.profileImage}}" alt="No Posts"/>
                    <p th:text="${message.nickname}"></p>
                </div>
                <div class="message-content">
                    <p th:text="${message.message}">Message</p>
                    <p th:text="${#temporals.format(message.createdAt, 'HH:mm')}"> </p>
                </div>
            </div>

            <div class="my-message" th:if="${message.nickname == user.nickname && !message.notice}">
                <div class="message-content">
                    <p th:text="${#temporals.format(message.createdAt, 'HH:mm')}"> </p>
                    <p th:text="${message.message}">Message</p>
                </div>
            </div>

            <div th:if="${message.notice}" class="notice">
                <p th:text="${message.message}">Message</p>
            </div>
        </li>
    </ul>

    <form class="send-form" onsubmit="sendMessage(); return false;">
        <input type="text" id="message" th:if="${chatRoom.hostUserId != null}" required />
        <button type="submit" th:disabled="${chatRoom.hostUserId == null}">전송</button>
    </form>

    <input type="hidden" id="username" th:value="${user.username}"/>
    <input type="hidden" id="nickname" th:value="${user.nickname}"/>
    <input type="hidden" id="userId" th:value="${user.id}"/>
    <input type="hidden" id="chatRoomId" th:value="${chatRoom.id}"/>
    <input type="hidden" id="hostUserId" th:value="${chatRoom.hostUserId}"/>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>