/* 공통 설정 */
html {
    font-family: Arial, sans-serif;
    height: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    flex-shrink: 0;
}

p{
    margin: 5px;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

.container {
    flex: 1;
    min-width: calc(100% - 300px);
    max-width: calc(100% - 300px);
    margin: 0 auto;
}


/* 헤더 설정 */
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-width: 1300px;
    max-width: 1300px;
}

header {
    display: flex;
    min-width: 1280px;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 30px;
}

.logo-text{
    font-weight: bolder;
    font-style: italic;
    color: #00A885;
}

.logo-img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.category{
    display: flex;
    align-items: center;
    gap: 30px;
}

.category a{
    color: #6f6f6f;
    text-decoration: none;
    margin-top: 2px;
}

.category a:hover{
    color: #00A885;
}

.right {
    display: flex;
    align-items: center;
    text-align: right;
    gap: 20px;
}

.right a{
    color: #6f6f6f;
    text-decoration: none;
}

.search{
    display: flex;
    align-items: center;
    border: #6f6f6f 1px solid;
    border-radius: 10px;
}

.search  > button{
    border: none;
    background-color: transparent;
}

.search  > button:hover{
    cursor: pointer;
}

.search img{
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 5px;
}

.search input{
    border: none;
    min-width: 240px;
    min-height: 30px;
    margin-left: 10px;
    outline: none;
}

.user-header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.write-btn {
    background-color: #00A885;
    color: white;
    text-decoration: none;
    border: 1px #6f6f6f solid;
    border-radius: 15px;
    padding: 5px 10px;
}

.profile-img, .notification-img, .chat-img{
    width: 30px;
    height: 30px;
}

.profile-img{
    border-radius: 50%;
}

.profile-img:hover{
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    border-radius: 15px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 0;
    border-radius: 15px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* footer 설정 */
#wrapper {
    padding-bottom: 70px;
}

.footer {
    height: 70px;
    background-color: #6f6f6f;
    color: white;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 3px 0;
}

.mypage-container {
    border: 1px solid #6f6f6f;
    border-radius: 10px;
    margin: 0 auto;
    min-width: 1280px;
    max-width: 1280px;
}

.top-container {
    display: flex;
    align-items: flex-start;
}

.profile-img2 {
    width: calc(20%);
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
}

.profile-container {
    margin-top: 26px;
}

label {
    display: inline-block;
    width: 70px;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
    color: #00A885;
}

.intro-edit-p {
    font-weight: bold;
    font-size: 20px;
    margin-left: 35px;
    color: #00a885;
    text-decoration: underline;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 200px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #6f6f6f;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    font-family: Arial, sans-serif;
    width: 1208px;
    height: 200px;
    padding: 15px;
    margin: 10px 20px 20px 20px;
    border: 1px solid #6f6f6f;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.submit-btn-container {
    text-align: right;
    margin: 20px;
}

.submit-btn {
    background-color: #00A885;
    color: white;
    border: 1px #6f6f6f solid;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 18px;
}

.submit-btn:hover {
    background-color: #0BA885;
    cursor: pointer;
}

.mbti-select {
    padding: 8px;
    border: 1px solid #6f6f6f;
    border-radius: 5px;
    font-size: 16px;
}

.check-btn {
    justify-content: flex-start;
    gap: 10px;
    margin-left: 5px;
}

.check-btn {
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.check-btn:hover {
    background-color: #ddd;
}

.default-profile-btn {
    background-color: #00A885;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 10px;
}

.default-profile-btn:hover {
    cursor: pointer;
}