spring:
  application:
    name: inconcert

  datasource:
    url: jdbc:mysql://localhost:3306/inconcert?useUnicode=true&characterEncoding=utf8mb4&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${username}
    password: ${password}
    driver-class-name: com.mysql.cj.jdbc.Driver


  sql:
    init:
      mode: always
#      data-locations: classpath:/home/ubuntu/spring-github-action/init.sql # init.sql 파일의 위치를 지정
      data-locations: file:/home/ubuntu/spring-github-action/init.sql

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true # 데이터베이스 초기화를 JPA 테이블 생성 후로 지연
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        connection:
          useUnicode: true
          characterEncoding: utf8mb4

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  # mail send (인증번호 전송)
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${gmail}
    password: ${googlePw}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  # 네이버 로그인 설정
  security:
    oauth2:
      client:
        registration:
          naver:
            client-id: ${naverClientId}
            client-secret: ${naverClientSecret}
            redirect-uri: "{baseUrl}/login/oauth2/code/naver"
            authorization-grant-type: authorization_code
            scope:
              - name
              - gender
              - email
              - mobile
              - birthday
              - birthyear
            client-name: Naver
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

logging:
  level:
    org:
      springframework:
        security: INFO

jwt:
  secretKey: ${secretKey}
  refreshKey: ${refreshKey}
  access-token-expire-time: 1800000   # 30분
  refresh-token-expire-time: 604800000  # 7일

# chromedriver 경로
chrome:
  driver: ${drivePath}

redis:
  host: localhost
  port: 6379

kakao:
  javascript-key: ${kakaoKey}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

aws:
  s3:
    bucket: ${bucketName}
    credentials:
      access-key: ${s3AccessKey}
      secret-key: ${s3SecretKey}
  cloudfront:
    url: ${cloudFrontUrl}

server:
  port: 80
