<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인 화면</title>
    <link rel="stylesheet" href="/css/board/board-detail.css">
    <script>
        function validateSearch() {
            let keyword = document.getElementById("search-input").value.trim();
            if (keyword.length < 2) {
                alert("검색어를 2자 이상 입력하세요.");
                return false;
            }
            return true;
        }

        function validateDetailSearch() {
            let keyword = document.getElementById("search-detail-input").value.trim();
            if (keyword.length < 2) {
                alert("검색어를 2자 이상 입력하세요.");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="tabs-container" th:if="${categoryTitle} != 'review'">
        <div class="tabs">
            <a class="tab-button" th:href="@{'/' + ${categoryTitle} + '/musical'}"
               th:classappend="${postCategoryTitle == 'musical'} ? ' selected'">
                <p>뮤지컬</p>
            </a>
            <a class="tab-button" th:href="@{'/' + ${categoryTitle} + '/concert'}"
               th:classappend="${postCategoryTitle == 'concert'} ? ' selected'">
                <p>콘서트</p>
            </a>
            <a class="tab-button" th:href="@{'/' + ${categoryTitle} + '/theater'}"
               th:classappend="${postCategoryTitle == 'theater'} ? ' selected'">
                <p>연극</p>
            </a>
            <a class="tab-button" th:href="@{'/' + ${categoryTitle} + '/etc'}"
               th:classappend="${postCategoryTitle == 'etc'} ? ' selected'">
                <p>기타</p>
            </a>
        </div>
    </div>

    <div class="review-block" th:if="${categoryTitle} == 'review'"></div>

    <div class="filters-container" th:if="${categoryTitle} != 'review'">
        <form class="filters" onsubmit="return validateDetailSearch()" th:action="@{'/' + ${categoryTitle} + '/' + ${postCategoryTitle} + '/search'}" method="get">
            <select id="search-period" name="period">
                <option value="all" th:selected="${searchInfo != null && searchInfo['period'] == 'all'}">전체 기간</option>
                <option value="1day" th:selected="${searchInfo != null && searchInfo['period'] == '1day'}">1일</option>
                <option value="1week" th:selected="${searchInfo != null && searchInfo['period'] == '1week'}">1주</option>
                <option value="1month" th:selected="${searchInfo != null && searchInfo['period'] == '1month'}">1개월</option>
                <option value="6months" th:selected="${searchInfo != null && searchInfo['period'] == '6months'}">6개월</option>
                <option value="1year" th:selected="${searchInfo != null && searchInfo['period'] == '1year'}">1년</option>
            </select>
            <select id="search-type" name="type">
                <option value="title+content" th:selected="${searchInfo != null && searchInfo['type'] == 'title+content'}">제목 + 내용</option>
                <option value="title" th:selected="${searchInfo != null && searchInfo['type'] == 'title'}">제목만</option>
                <option value="content" th:selected="${searchInfo != null && searchInfo['type'] == 'content'}">내용만</option>
                <option value="author" th:selected="${searchInfo != null && searchInfo['type'] == 'author'}">글 작성자</option>
            </select>
            <input id="search-detail-input" type="text" name="keyword" placeholder="검색어를 입력해주세요" th:value="${searchInfo != null ? searchInfo['keyword'] : ''}">
            <button type="submit">검색</button>
        </form>
    </div>

    <div class="filters-container" th:if="${categoryTitle} == 'review'">
        <form class="filters" onsubmit="return validateDetailSearch()" th:action="@{'/' + ${categoryTitle} + '/search'}" method="get">
            <select id="search-period" name="period">
                <option value="all" th:selected="${searchInfo != null && searchInfo['period'] == 'all'}">전체 기간</option>
                <option value="1day" th:selected="${searchInfo != null && searchInfo['period'] == '1day'}">1일</option>
                <option value="1week" th:selected="${searchInfo != null && searchInfo['period'] == '1week'}">1주</option>
                <option value="1month" th:selected="${searchInfo != null && searchInfo['period'] == '1month'}">1개월</option>
                <option value="6months" th:selected="${searchInfo != null && searchInfo['period'] == '6months'}">6개월</option>
                <option value="1year" th:selected="${searchInfo != null && searchInfo['period'] == '1year'}">1년</option>
            </select>
            <select id="search-type" name="type">
                <option value="title+content" th:selected="${searchInfo != null && searchInfo['type'] == 'title+content'}">제목 + 내용</option>
                <option value="title" th:selected="${searchInfo != null && searchInfo['type'] == 'title'}">제목만</option>
                <option value="content" th:selected="${searchInfo != null && searchInfo['type'] == 'content'}">내용만</option>
                <option value="author" th:selected="${searchInfo != null && searchInfo['type'] == 'author'}">글 작성자</option>
            </select>
            <input id="search-detail-input" type="text" name="keyword" placeholder="검색어를 입력해주세요" th:value="${searchInfo != null ? searchInfo['keyword'] : ''}">
            <button type="submit">검색</button>
        </form>
    </div>

    <div class="post-header">
        <span class="header-title">제목</span>
        <span class="header-author">작성자</span>
        <span class="header-date">작성일</span>
        <span class="header-views">조회</span>
        <span class="header-likes">좋아요</span>
    </div>

    <div class="post-list" th:each="post : ${posts}">
        <div class="post">
            <div class="post-thumbnail" th:if="${post.thumbnailUrl != ''}">
                <img th:src="@{${post.thumbnailUrl}}">
            </div>
            <div class="post-thumbnail" th:if="${post.thumbnailUrl == ''}">
                <img src="/images/logo.png" alt="No Posts"/>
            </div>

            <div class="post-content">
                <div class="post-title">
                    <a th:href="@{'/' + ${categoryTitle} + '/' + ${post.postCategory.title} + '/' + ${post.id}}">
                        <span th:switch="${post.postCategory.title}">
                            <span th:case="'musical'">[뮤지컬]</span>
                            <span th:case="'concert'">[콘서트]</span>
                            <span th:case="'theater'">[연극]</span>
                            <span th:case="'etc'">[기타]</span>
                        </span>
                        <span th:text="${post.title}">Post Title</span>
                    </a>
                    <span class="comment-count" th:text="'[' + ${post.commentCount} + ']'"></span>
                    <div th:if="${post.isNew}">
                        <p class="new"> N </p>
                    </div>
                </div>
                <div class="post-meta">
                    <span class="author" th:text="${post.nickname}"></span>
                    <span class="date" th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}"></span>
                    <span class="views" th:text="${post.viewCount}"></span>
                    <span class="likes" th:text="${post.likeCount}"></span>
                </div>
            </div>
        </div>
    </div>
    <div id='wrapper'></div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>