<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="ko">
<head>
    <meta charset="UTF-8">
    <title th:text="${categoryTitle == 'review' ? '공연 후기 게시판' :
    categoryTitle == 'info' ? '공연 소식 - ' +
    (postCategoryTitle == 'musical' ? '뮤지컬' : postCategoryTitle == 'concert' ? '콘서트' : postCategoryTitle == 'theater' ? '연극' : '기타') :
    categoryTitle == 'match' ? '동행 - ' +
    (postCategoryTitle == 'musical' ? '뮤지컬' : postCategoryTitle == 'concert' ? '콘서트' : postCategoryTitle == 'theater' ? '연극' : '기타') :
    '양도 - ' +
    (postCategoryTitle == 'musical' ? '뮤지컬' : postCategoryTitle == 'concert' ? '콘서트' : postCategoryTitle == 'theater' ? '연극' : '기타')}"></title>
    <link rel="stylesheet" href="/css/board/board-detail.css">
    <script>
        function validateSearch() {
            let keyword = document.getElementById("search-input").value.trim();
            if (keyword.length < 2) {
                alert("검색어를 2자 이상 입력하세요.");
                return false;
            }
            return true;
        }

        function validateDetailSearch() {
            let keyword = document.getElementById("search-detail-input").value.trim();
            if (keyword.length < 2) {
                alert("검색어를 2자 이상 입력하세요.");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="tabs-container" th:if="${categoryTitle} != 'review'">
        <div class="tabs">
            <a class="tab-button" th:href="@{'/' + ${categoryTitle} + '/musical'}"
               th:classappend="${postCategoryTitle == 'musical'} ? ' selected'">
                <p>뮤지컬</p>
            </a>
            <a class="tab-button" th:href="@{'/' + ${categoryTitle} + '/concert'}"
               th:classappend="${postCategoryTitle == 'concert'} ? ' selected'">
                <p>콘서트</p>
            </a>
            <a class="tab-button" th:href="@{'/' + ${categoryTitle} + '/theater'}"
               th:classappend="${postCategoryTitle == 'theater'} ? ' selected'">
                <p>연극</p>
            </a>
            <a class="tab-button" th:href="@{'/' + ${categoryTitle} + '/etc'}"
               th:classappend="${postCategoryTitle == 'etc'} ? ' selected'">
                <p>기타</p>
            </a>
        </div>
    </div>

    <div class="review-block" th:if="${categoryTitle} == 'review'"></div>

    <div class="filters-container">
        <form class="filters" onsubmit="return validateDetailSearch()" th:action="@{'/' + ${categoryTitle} + ${postCategoryTitle != null ? '/' + postCategoryTitle : ''} + '/search'}" method="get">
            <div th:if="${categoryTitle} == 'match'">
                <select id="search-gender" name="gender">
                    <option value="all" th:selected="${searchInfo != null && searchInfo['gender'] == 'all'}">모든 성별</option>
                    <option value="MALE" th:selected="${searchInfo != null && searchInfo['gender'] == 'MALE'}">남자</option>
                    <option value="FEMALE" th:selected="${searchInfo != null && searchInfo['gender'] == 'FEMALE'}">여자</option>
                </select>
                <select id="search-mbti" name="mbti">
                    <option value="all" th:selected="${searchInfo != null && searchInfo['mbti'] == 'all'}">모든 MBTI</option>
                    <option value="INTJ" th:selected="${searchInfo != null && searchInfo['mbti'] == 'INTJ'}">INTJ</option>
                    <option value="INTP" th:selected="${searchInfo != null && searchInfo['mbti'] == 'INTP'}">INTP</option>
                    <option value="ENTJ" th:selected="${searchInfo != null && searchInfo['mbti'] == 'ENTJ'}">ENTJ</option>
                    <option value="ENTP" th:selected="${searchInfo != null && searchInfo['mbti'] == 'ENTP'}">ENTP</option>
                    <option value="INFJ" th:selected="${searchInfo != null && searchInfo['mbti'] == 'INFJ'}">INFJ</option>
                    <option value="INFP" th:selected="${searchInfo != null && searchInfo['mbti'] == 'INFP'}">INFP</option>
                    <option value="ENFJ" th:selected="${searchInfo != null && searchInfo['mbti'] == 'ENFJ'}">ENFJ</option>
                    <option value="ENFP" th:selected="${searchInfo != null && searchInfo['mbti'] == 'ENFP'}">ENFP</option>
                    <option value="ISTJ" th:selected="${searchInfo != null && searchInfo['mbti'] == 'ISTJ'}">ISTJ</option>
                    <option value="ISFJ" th:selected="${searchInfo != null && searchInfo['mbti'] == 'ISFJ'}">ISFJ</option>
                    <option value="ESTJ" th:selected="${searchInfo != null && searchInfo['mbti'] == 'ESTJ'}">ESTJ</option>
                    <option value="ESFJ" th:selected="${searchInfo != null && searchInfo['mbti'] == 'ESFJ'}">ESFJ</option>
                    <option value="ISTP" th:selected="${searchInfo != null && searchInfo['mbti'] == 'ISTP'}">ISTP</option>
                    <option value="ISFP" th:selected="${searchInfo != null && searchInfo['mbti'] == 'ISFP'}">ISFP</option>
                    <option value="ESTP" th:selected="${searchInfo != null && searchInfo['mbti'] == 'ESTP'}">ESTP</option>
                    <option value="ESFP" th:selected="${searchInfo != null && searchInfo['mbti'] == 'ESFP'}">ESFP</option>
                </select>
            </div>
            <select id="search-period" name="period">
                <option value="all" th:selected="${searchInfo != null && searchInfo['period'] == 'all'}">전체 기간</option>
                <option value="1day" th:selected="${searchInfo != null && searchInfo['period'] == '1day'}">1일</option>
                <option value="1week" th:selected="${searchInfo != null && searchInfo['period'] == '1week'}">1주</option>
                <option value="1month" th:selected="${searchInfo != null && searchInfo['period'] == '1month'}">1개월</option>
                <option value="6months" th:selected="${searchInfo != null && searchInfo['period'] == '6months'}">6개월</option>
                <option value="1year" th:selected="${searchInfo != null && searchInfo['period'] == '1year'}">1년</option>
            </select>

            <select id="search-type" name="type">
                <option value="titleContent" th:selected="${searchInfo != null && searchInfo['type'] == 'titleContent'}">제목 + 내용</option>
                <option value="title" th:selected="${searchInfo != null && searchInfo['type'] == 'title'}">제목만</option>
                <option value="content" th:selected="${searchInfo != null && searchInfo['type'] == 'content'}">내용만</option>
                <option value="author" th:selected="${searchInfo != null && searchInfo['type'] == 'author'}">글 작성자</option>
            </select>

            <input id="search-detail-input" type="text" name="keyword" placeholder="검색어를 입력해주세요" th:value="${searchInfo != null ? searchInfo['keyword'] : ''}">
            <button type="submit">검색</button>
        </form>
    </div>

    <div class="post-header">
        <span class="header-title">제목</span>
        <span class="header-author">작성자</span>
        <span class="header-date">작성일</span>
        <span class="header-views">조회</span>
        <span class="header-likes">좋아요</span>
    </div>

    <div class="post" th:each="post : ${postsPage.content}">
        <div class="post-left">
            <div class="post-thumbnail">
                <img th:src="${post.thumbnailUrl == null ? '/images/logo.png' :  post.thumbnailUrl}" alt="No Posts"/>
            </div>
            <a class="post-title" th:href="@{'/' + ${categoryTitle} + '/' + ${post.postCategoryTitle} + '/' + ${post.id}}">
                <span th:switch="${post.postCategoryTitle}">
                    <span th:case="'musical'">[뮤지컬]</span>
                    <span th:case="'concert'">[콘서트]</span>
                    <span th:case="'theater'">[연극]</span>
                    <span th:case="'etc'">[기타]</span>
                </span>
                <span th:text="${post.title}">Post Title</span>
            </a>
            <p class="comment-count" th:text="'[' + ${post.commentCount} + ']'"></p>
            <div class="new" th:if="${categoryTitle != 'info' && post.isNew}">
                <p> N </p>
            </div>
        </div>
        <span class="author" th:text="${post.nickname}"></span>
        <span class="date" th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}"></span>
        <span class="views" th:text="${post.viewCount}"></span>
        <span class="likes" th:text="${post.likeCount}"></span>
    </div>

    <!-- th:href 설명 -->
    <!-- postCategoryTitle가 없는 경우(review)는 postCategoryTitle 생략-->
    <!-- searchInfo의 여부(검색 여부) /search 붙일지 말지 결정-->
    <!-- searchInfo가 있고(검색한 경우), categoryTitle이 match인 경우는 기존 필터의 gender와 mbti까지 포함한 필터로 추가-->
    <!-- searchInfo가 있고(검색한 경우), categoryTitle이 match가 아닌 경우는 gender와 mbti를 제외한 필터로 추가-->
    <!-- 그 후 뒤에 페이지 처리 관련 url 붙여서 요청-->
    <div th:if="${totalPages > 0}" class="pagination">
        <ul>
            <!-- 이전 페이지 -->
            <li th:classappend="${currentPage == 0} ? 'disabled'">
                <a th:if="${currentPage > 0}"
                   th:href="@{|/${categoryTitle}${postCategoryTitle != null ? '/' + postCategoryTitle : ''}${searchInfo != null ? '/search' : ''}?${categoryTitle == 'match' && searchInfo != null ? 'gender=' + searchInfo['gender'] + '&mbti=' + searchInfo['mbti'] + '&period=' + searchInfo['period'] + '&type=' + searchInfo['type'] + '&keyword=' + searchInfo['keyword'] + '&' : ''}${categoryTitle != 'match' && searchInfo != null ? 'period=' + searchInfo['period'] + '&type=' + searchInfo['type'] + '&keyword=' + searchInfo['keyword'] + '&' : ''}page=${currentPage - 1}&size=${postsPage.size}|}">
                    이전</a>
                <span th:if="${currentPage == 0}">이전</span>
            </li>

            <!-- 페이지 번호 -->
            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                th:if="${i >= (currentPage / 10) * 10 && i < ((currentPage / 10) + 1) * 10}"
                th:classappend="${i == currentPage} ? 'active'">
                <a th:href="@{|/${categoryTitle}${postCategoryTitle != null ? '/' + postCategoryTitle : ''}${searchInfo != null ? '/search' : ''}?${categoryTitle == 'match' && searchInfo != null ? 'gender=' + searchInfo['gender'] + '&mbti=' + searchInfo['mbti'] + '&period=' + searchInfo['period'] + '&type=' + searchInfo['type'] + '&keyword=' + searchInfo['keyword'] + '&' : ''}${categoryTitle != 'match' && searchInfo != null ? 'period=' + searchInfo['period'] + '&type=' + searchInfo['type'] + '&keyword=' + searchInfo['keyword'] + '&' : ''}page=${i}&size=${postsPage.size}|}"
                   th:text="${i + 1}">1</a>
            </li>

            <!-- 다음 페이지 -->
            <li th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
                <a th:if="${currentPage + 1 < totalPages}"
                   th:href="@{|/${categoryTitle}${postCategoryTitle != null ? '/' + postCategoryTitle : ''}${searchInfo != null ? '/search' : ''}?${categoryTitle == 'match' && searchInfo != null ? 'gender=' + searchInfo['gender'] + '&mbti=' + searchInfo['mbti'] + '&period=' + searchInfo['period'] + '&type=' + searchInfo['type'] + '&keyword=' + searchInfo['keyword'] + '&' : ''}${categoryTitle != 'match' && searchInfo != null ? 'period=' + searchInfo['period'] + '&type=' + searchInfo['type'] + '&keyword=' + searchInfo['keyword'] + '&' : ''}page=${currentPage + 1}&size=${postsPage.size}|}">
                    다음</a>
                <span th:if="${currentPage + 1 >= totalPages}">다음</span>
            </li>
        </ul>
    </div>

    <div id='wrapper'></div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>