<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인 화면</title>
    <link rel="stylesheet" href="/css/board/post-detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.2/kakao.min.js"
            integrity="sha384-TiCUE00h649CAMonG018J2ujOgDKW/kVWlChEuu4jK2vxfAAD0eZxzCKakxg55G4" crossorigin="anonymous"></script>
    <script defer src="/js/board/post-detail.js"></script>
    <script defer src="/js/comment.js"></script>
    <script defer src="/js/profile.js"></script>
    <script>
        Kakao.init('[[${kakaoKey}]]'); // 사용하려는 앱의 JavaScript 키 입력
    </script>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="tabs-container" th:if="${categoryTitle} != 'review'">
        <div class="tabs">
            <a class="tab-button" th:href="@{'/' + ${categoryTitle} + '/musical'}"
               th:classappend="${postCategoryTitle == 'musical'} ? ' selected'">
                <p>뮤지컬</p>
            </a>
            <a class="tab-button" th:href="@{'/' + ${categoryTitle} + '/concert'}"
               th:classappend="${postCategoryTitle == 'concert'} ? ' selected'">
                <p>콘서트</p>
            </a>
            <a class="tab-button" th:href="@{'/' + ${categoryTitle} + '/theater'}"
               th:classappend="${postCategoryTitle == 'theater'} ? ' selected'">
                <p>연극</p>
            </a>
            <a class="tab-button" th:href="@{'/' + ${categoryTitle} + '/etc'}"
               th:classappend="${postCategoryTitle == 'etc'} ? ' selected'">
                <p>기타</p>
            </a>
        </div>
    </div>

    <div class="review-block" th:if="${categoryTitle} == 'review'"></div>

    <div class="button-group">
        <a class="nav-button"
           th:href="@{'/' + ${categoryTitle} + ${categoryTitle != 'review' ? '/' + postCategoryTitle : ''}}">목록</a>
    </div>

    <div class="post-container">
        <div class="title-container">
            <h2 th:switch="${post.postCategory.title}">
                <h2 th:case="'musical'">[뮤지컬]</h2>
                <h2 th:case="'concert'">[콘서트]</h2>
                <h2 th:case="'theater'">[연극]</h2>
                <h2 th:case="'etc'">[기타]</h2>
            </h2>
            <h2 th:text="${post.title}">Post Title</h2>
        </div>

        <div class="post-info">
            <div>
                <img id="profileImage" th:src="${post.user.profileImage}" class="profile-img" alt="프로필 이미지">
                <div>
                    <div class="author-row">
                        <span class="author" th:text="${post.nickname}"></span>
                        <button class="chat-button"
                                th:if="${user.isPresent() && post.user.username != user.get().username}"
                                th:data-receiver-id="${post.user.id}" onclick="requestOneToOneChat(this)">1:1 채팅</button>
                        <button class="chat-button"
                                th:if="${categoryTitle == 'match' && user.isPresent() && post.user.username != user.get().username && !post.end}"
                                th:data-chat-room-id="${post.chatRoomId}" onclick="requestJoinChatRoom(this)">동행 요청</button>
                        <button class="chat-button"
                                th:if="${user?.isPresent()} and ${post?.nickname == user.get().nickname && !post.end}"
                                th:href="@{|/${categoryTitle}/${postCategoryTitle}/${post.id}/edit|}"
                                th:attr="data-has-chat-room=${hasChatRoom}"
                                onclick="location.href=this.getAttribute('href');">
                            수정
                        </button>
                        <form th:action="@{|/${categoryTitle}/${postCategoryTitle}/${post.id}/delete|}" method="post"
                              th:if="${user?.isPresent()} and ${post?.nickname == user.get().nickname && !post.end}">
                            <button type="submit" class="chat-button" id="delete-button"
                                    th:attr="data-has-chat-room=${hasChatRoom}"
                                    onclick="return confirmDelete(this)">
                                삭제
                            </button>
                        </form>

                        <form th:action="@{|/${categoryTitle}/${postCategoryTitle}/${post.id}/complete|}" method="post"
                              th:if="${user.isPresent() &&
                                    post.user.username == user.get().username &&
                                    #temporals.format(post.endDate, 'yyyy-MM-dd') < #temporals.format(#temporals.createNow(), 'yyyy-MM-dd') && !post.end}">
                            <button class="chat-button" type="submit" onclick="matchComplete()"> 동행 완료 </button>
                        </form>

                        <input type="hidden" id="chatRoomId" th:value="${post.chatRoomId}">
                        <div th:if="${errorMessage}" id="errorMessage" th:text="${errorMessage}" style="display: none;"></div>
                        <a th:href="@{|/${categoryTitle}/${postCategoryTitle}/${post.id}/report|}"
                           th:if="${user?.isPresent() && post?.nickname != user.get().nickname}"
                           class="report-button">
                            신고
                        </a>
                    </div>
                    <div class="date-row">
                        <span class="date" th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
                        <span class="views" th:text="${post.viewCount}"></span>
                    </div>
                </div>
            </div>
            <div class="post-info-detail" th:if="${categoryTitle == 'match'}">
                <div>
                    <p>마감 날짜:</p>
                    <p th:text="${#temporals.format(post.endDate, 'yyyy-MM-dd')}"></p>
                </div>
                <div>
                    <p>현재 인원: </p>
                    <p th:text="${post.chatRoomUserSize + '/' + post.matchCount}"></p>
                </div>
            </div>
        </div>

        <div class="post-body">
            <div class="post-text">
                <p th:utext="${post.content}"></p>
            </div>
        </div>

        <div id="kakao-share-button"
             th:data-title="${post.title}"
             th:data-description="${post.content}"
             th:data-image-url="${post.thumbnailUrl}"
             th:data-web-url="@{'http://localhost:8080/' + ${categoryTitle} + '/' + ${postCategoryTitle} + '/' + ${post.id}}"
             th:data-likeCount="${post.likeCount}"
             th:data-commentCount="${post.commentCount}">
        </div>

        <div class="interaction">
            <i class="like-icon far fa-heart" id="like-icon"
               th:data-post-id="${post.id}"
               th:data-category-title="${categoryTitle}"
               onclick="toggleLike(this)"></i>
            <span id="like-count" th:text="${post.likeCount}"></span>
            <span th:text="'댓글 '+ ${post.commentCount}"></span>
            <a id="kakaotalk-sharing-btn" href="javascript:;">
                <img src="/images/sns/kakao.png"
                     alt="카카오톡 공유 보내기 버튼" />
            </a>
            <a id="twitter-sharing-btn" href="javascript:shareTwitter();">
                <img src="/images/sns/twitter.png" alt="트위터 공유 보내기 버튼">
            </a>
        </div>

        <div class="sort-buttons">
            <button class="sort-button" onclick="sortComments('asc')">등록순</button>
            <button class="sort-button" onclick="sortComments('desc')">최신순</button>
        </div>
        <div class="comment-form-main">
            <form th:action="@{'/' + ${categoryTitle} + '/' + ${post.postCategory.title} + '/' + ${post.id} + '/comments/new'}"
                  method="post" class="comment-form" th:object="${createForm}">
                <textarea name="content" placeholder="타인의 권리를 침해하거나 명예를 훼손하는 댓글은 운영원칙 및 관련 법률에 의해 제재를 받을 수 있습니다."
                          class="comment-textarea"></textarea>
                <div>
                    <input type="checkbox" th:field="*{isSecret}" id="isSecret" name="isSecret">
                    <label for="isSecret">비밀 댓글</label>
                </div>
                <div class="comment-form-actions-add">
                    <button type="submit" class="submit-btn">등록</button>
                </div>
            </form>
        </div>
        <!-- 댓글 목록 -->
        <div th:each="comment : ${post.comments}">
            <div th:if="${comment.parent == null}"
                 th:insert="~{fragments/commentFragment :: commentFragment(comment=${comment})}">
            </div>
        </div>
    </div>
    <div id='wrapper'></div>
    <div class="popup" id="profilePopup">
        <div class="popup-content">
            <div class="card" id="profileCard">
                <button class="chat-btn" th:data-receiver-id="${post.user.id}" onclick="requestOneToOneChat(this)">1:1 채팅</button>
                <span class="close" id="closePopup">&times;</span>
                <div class="profile-container">
                    <div class="profile-left">
                        <img th:src="${post.user.profileImage}" alt="Profile Picture" class="profile-img3">
                        <p class="nickname" th:text="${post.user.nickname}"></p>
                    </div>
                    <div class="profile-right">
                        <div class="space">
                            <div>
                                <p>성별</p>
                            </div>
                            <div>
                                <p th:if="${post.user.gender.name()} == 'FEMALE'">여성</p>
                                <p th:if="${post.user.gender.name()} == 'MALE'">남성</p>
                            </div>
                        </div>
                        <div class="user-birth">
                            <div>
                                <p>나이</p>
                            </div>
                            <div>
                                <input type="text" id="birthdate-post" th:value="${post.user.birth}" readonly hidden>
                                <p id="age"><span id="age-value-post"></span>세</p>
                            </div>
                        </div>
                        <div class="space-mail">
                            <div>
                                <p>메일</p>
                            </div>
                            <div>
                                <p th:text="${post.user.email}"></p>
                            </div>
                        </div>
                        <div class="space-mbti">
                            <div>
                                <p>MBTI</p>
                            </div>
                            <div>
                                <p th:text="${post.user.mbti}"></p>
                            </div>
                        </div>
                        <div class="manner">
                            <div>
                                <p>매너 점수</p>
                            </div>
                            <div>
                                <p th:text="${post.user.mannerPoint}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro">
                    <p class="introduce">한줄 소개</p>
                    <p class="intro-p" th:text="${post.user.intro}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>