<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인 화면</title>
    <link rel="stylesheet" href="/css/postdetail.css">
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/header :: header}"></div>
    <div id='wrapper'>
        <div class="tabs">
            <button class="tab-button active">뮤지컬</button>
            <button class="tab-button">콘서트</button>
            <button class="tab-button">연극</button>
            <button class="tab-button">기타</button>
        </div>
    <div class ="buttons">
        <div class="button-group">
            <button class="nav-button">이전 글</button>
            <button class="nav-button">다음 글</button>
            <button class="nav-button">목록</button>
            <button class="write-button">글쓰기</button>
        </div>
    </div>


    </div>

</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>