<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>
    <link rel="stylesheet" href="/css/board/writeform.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script>
        function validateSearch() {
            let keyword = document.getElementById("search-input").value.trim();
            if (keyword.length < 2) {
                alert("검색어를 2자 이상 입력하세요.");
                return false;
            }
            return true;
        }

        function toggleMatchAndDateFields() {
            const categoryTitle = document.getElementById("categoryTitle");
            const matchCount = document.getElementById("matchCount");
            const dateContainer = document.querySelector(".date-container");

            if (categoryTitle.value === "match") {
                matchCount.style.display = "block";
                dateContainer.style.display = "flex";
            } else {
                matchCount.style.display = "none";
                dateContainer.style.display = "none";
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            const categoryTitle = document.getElementById("categoryTitle");
            categoryTitle.addEventListener("change", toggleMatchAndDateFields);

            // 페이지 로드 시 초기 상태 설정
            toggleMatchAndDateFields();
        });
    </script>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/header :: header}"></div>

    <form method="post" id="postForm">
        <div class="write-container">
            <div class="dropdowns">
                <select id="categoryTitle" name="categoryTitle" required>
                    <option disabled selected value="default">게시판 선택</option>
                    <option sec:authorize="hasRole('ROLE_ADMIN')" value="info">공연 소식</option>
                    <option value="review">공연 후기</option>
                    <option value="match">동행</option>
                    <option value="transfer">양도</option>
                </select>

                <select id="postCategoryTitle" name="postCategoryTitle" required>
                    <option disabled selected value="default">카테고리 선택</option>
                    <option value="musical">뮤지컬</option>
                    <option value="concert">콘서트</option>
                    <option value="theater">연극</option>
                    <option value="etc">기타</option>
                </select>
            </div>

            <div class="dropdowns">
                <select id="matchCount" name="matchCount" style="display:none;">
                    <option disabled selected value="default">모집인원 선택</option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                </select>
                <div class="date-container" style="display:none;">
                    <label for="endDate">종료 날짜 지정</label>
                    <input type="date" id="endDate" name="endDate">
                </div>
            </div>

            <input type="text" id="title" placeholder="제목을 입력해주세요." class="title-input" name="title" required>
            <div id="editor"></div>
            <input type="hidden" name="content" id="content" required>
            <input type="hidden" name="thumbnailUrl" id="thumbnailUrl">

            <div style="text-align: right">
                <button type="submit" class="submit-btn">글쓰기</button>
            </div>
        </div>
    </form>

    <div id='wrapper'></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script>
    let quill = new Quill('#editor', {
        theme: 'snow',
        modules: {
            toolbar: [
                [{ 'header': [1, 2, false] }],
                ['bold', 'italic', 'underline'],
                [{ 'color': [] }, { 'background': [] }],
                ['link', 'image']
            ]
        }
    });
    quill.getModule('toolbar').addHandler('image', imageHandler);

    let imageMap = new Map();  // 이미지 src와 파일 객체를 매핑할 맵
    // 이미지 핸들러 함수
    function imageHandler() {
        // 새로운 input 요소 생성
        let input = document.createElement('input');
        // input 요소의 유형을 'file'로 설정하여 파일 선택 가능하게 함
        input.setAttribute('type', 'file');
        // input 요소에서 이미지 파일만을 선택할 수 있도록 설정
        input.setAttribute('accept', 'image/*');
        // 프로그래밍 방식으로 input 요소를 클릭하여 파일 선택기를 열음
        input.click();

        // 파일이 선택되면 이벤트 핸들러가 실행됨
        input.onchange = function () {
            // 파일이 선택되지 않은 경우 함수 종료
            if (input.files.length === 0) {
                return;
            }

            // 첫 번째 선택된 파일을 가져옴(물론 하나밖에 못 선택함)
            let file = input.files[0];
            // FormData 객체 생성
            let formData = new FormData();
            // FormData 객체에 선택된 이미지 파일 추가
            formData.append('image', file);

            // 파일을 '/uploadImage' 엔드포인트로 POST 요청을 보냄
            fetch('/uploadImage', {
                method: 'POST', // HTTP 메소드 지정
                body: formData, // 요청 본문에 formData 객체를 포함
                headers: {
                    'Accept': 'application/json', // 서버에게 JSON 응답을 요청
                }
            })
                .then(response => response.json()) // 서버 응답을 JSON으로 파싱
                .then(data => {
                    // 데이터가 유효하고 URL이 포함된 경우
                    if (data && data.url) {
                        // 업로드된 이미지의 URL로 에디터에 이미지 삽입
                        // 기존 방식: base64로 저장했다가 url 교체하는 방식
                        let range = quill.getSelection(); // 현재 에디터의 선택 범위 가져옴
                        if (range) {
                            // 선택된 위치에 이미지 삽입
                            quill.insertEmbed(range.index, 'image', data.url);
                            // 삽입 후 선택 범위를 이미지 다음 위치로 이동
                            quill.setSelection(range.index + 1);
                        }

                        // 이미지 URL과 파일 객체를 imageMap에 저장
                        imageMap.set(data.url, imageMap.size + 1);
                        console.log(imageMap);
                        // 썸네일 URL도 없다면 추가된 이미지의 S3 URL로 저장
                        if (!document.getElementById('thumbnailUrl').value) {
                            document.getElementById('thumbnailUrl').value = data.url;
                        }
                    } else {
                        // 데이터가 유효하지 않거나 URL이 없는 경우 오류 메시지 표시
                        alert('이미지 업로드 실패: ' + (data.message || 'Unknown error'));
                    }
                })
                .catch(error => {
                    // 네트워크 오류 또는 요청 실패 시 콘솔에 오류 로그 출력 및 사용자에게 알림
                    console.error('Error:', error);
                    alert('이미지 업로드 중 오류가 발생했습니다.');
                });
        };
    }


    // 이미지 삭제 핸들러
    // 에디터의 텍스트가 변경될 때마다 호출
    // delta: 최근 변경 사항을 나타내는 객체(추가, 삭제, 형식 변경 등)
    // oldDelta: 변경 전의 상태를 나타내는 객체
    // source: 변경의 출처를 나타냄(ex: 사용자 입력 = 'user')
    quill.on('text-change', function(delta, oldDelta, source) {
        if (source === 'user') {
            console.log("Delta:", delta); // 변경 사항 로깅
            let currentText = quill.getText();          // 에디터의 현재 전체 텍스트를 문자열 형식으로
            let formattedText = quill.getContents();    // 에디터의 현재 상태를 리치 텍스트 형식으로

            // 이미지 업로드할 때 저장한 Map for문 돌기
            imageMap.forEach((value, key) => {
                // 현재 텍스트나 리치 텍스트 형식의 콘텐츠에서
                // 특정 이미지(URL)가 더 이상 존재하지 않는지 확인
                // 부연 설명:
                // .some(...) 메소드: 배열 내의 어떤 요소라도 주어진 함수의 조건을 만족하면 true를 반환
                // 즉, 에디터의 현재 내용 중에서 특정 이미지 URL을 가진 이미지 삽입 행위가 존재하는가?"를 검사
                // 위 내용을 검사하지만 !로 부정을 의미하여, 이는 "에디터 내부 데이터에서 해당 이미지 URL을 가진 삽입 로그가 하나도 없다"는 것을 의미
                if (!currentText.includes(key) && !formattedText.ops.some(op => op.insert && op.insert.image && op.insert.image === key)) {
                    console.log("Deleting image:", key); // 삭제 로그
                    fetch('/deleteImage', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ imageUrl: key })
                    }).then(response => {
                        if (response.ok) {
                            console.log('Image deleted successfully');
                            imageMap.delete(key);
                        } else {
                            console.error('Failed to delete image');
                        }
                    }).catch(error => {
                        console.error('Error:', error);
                    });
                }
            });
        }
    });

    // 모든 필드를 입력했는지 확인
    function validateFormInputs() {
        document.getElementById('content').value = quill.root.innerHTML;

        let categoryTitle = document.getElementById('categoryTitle');
        let postCategoryTitle = document.getElementById('postCategoryTitle');
        let matchCount = document.getElementById('matchCount');
        let endDate = document.getElementById('endDate');
        let title = document.getElementById('title');
        let content = document.getElementById('content');

        return (
            categoryTitle.value === 'default' ||
            postCategoryTitle.value === 'default' ||
            (categoryTitle.value === 'match' && (matchCount.value === 'default' || !endDate.value)) ||
            !title.value.trim() ||
            !content.value.trim()
        );
    }

    let isFormSubmitted = false;  // 폼 제출 상태를 추적하는 플래그
    document.getElementById('postForm').addEventListener('submit', function(event) {
        event.preventDefault();  // 폼 기본 제출 동작 중지

        if(validateFormInputs()){
            alert('모든 필드를 올바르게 입력해주세요.');
        }
        else {
            isFormSubmitted = true;  // 폼이 제출되었다고 플래그 설정
            // Post 요청 url 설정해 submit
            let categoryTitle = document.getElementById('categoryTitle');
            let selectedCategory = categoryTitle.options[categoryTitle.selectedIndex].value;
            document.getElementById('postForm').action = '/' + selectedCategory + '/write';
            document.getElementById('postForm').submit();
        }
    });

    document.getElementById('endDate').min = new Date().toISOString().split("T")[0];

    // 페이지를 떠나기 전에 실행되는 이벤트 핸들러
    window.addEventListener('beforeunload', function(event) {
        // 서버에 이미지 삭제 요청을 보냄
        if (!isFormSubmitted) {  // 폼이 제출되지 않았다면 이미지 삭제 진행
            // 브라우저가 페이지를 벗어나기 전에 요청을 보낼 수 있도록 기본 이벤트를 취소
            event.preventDefault();
            event.returnValue = ''; // 크롬에서 필요한 설정

            imageMap.forEach((value, key) => {
                fetch('/deleteImage', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({imageUrl: key})
                }).then(response => {
                    if (response.ok) {
                        console.log('Image deleted successfully from server on unload');
                    } else {
                        console.error('Failed to delete image on unload');
                    }
                }).catch(error => {
                    console.error('Error during image deletion on unload:', error);
                });

                // 이벤트 처리 후 이미지 맵에서 해당 항목 삭제
                imageMap.delete(key);
            });
        }
    });
</script>
</body>
</html>