<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>
    <link rel="stylesheet" href="/css/board/writeform.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script>
        function validateSearch() {
            let keyword = document.getElementById("search-input").value.trim();
            if (keyword.length < 2) {
                alert("검색어를 2자 이상 입력하세요.");
                return false;
            }
            return true;
        }

        function toggleMatchAndDateFields() {
            const categoryTitle = document.getElementById("categoryTitle");
            const matchCount = document.getElementById("matchCount");
            const dateContainer = document.querySelector(".date-container");

            if (categoryTitle.value === "match") {
                matchCount.style.display = "block";
                dateContainer.style.display = "flex";
            } else {
                matchCount.style.display = "none";
                dateContainer.style.display = "none";
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            const categoryTitle = document.getElementById("categoryTitle");
            categoryTitle.addEventListener("change", toggleMatchAndDateFields);

            // 페이지 로드 시 초기 상태 설정
            toggleMatchAndDateFields();
        });
    </script>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/header :: header}"></div>

    <form method="post" id="postForm">
        <div class="write-container">
            <div class="dropdowns">
                <select id="categoryTitle" name="categoryTitle" required>
                    <option disabled selected value="default">게시판 선택</option>
                    <option sec:authorize="hasRole('ROLE_ADMIN')" value="info">공연 소식</option>
                    <option value="review">공연 후기</option>
                    <option value="match">동행</option>
                    <option value="transfer">양도</option>
                </select>

                <select id="postCategoryTitle" name="postCategoryTitle" required>
                    <option disabled selected value="default">카테고리 선택</option>
                    <option value="musical">뮤지컬</option>
                    <option value="concert">콘서트</option>
                    <option value="theater">연극</option>
                    <option value="etc">기타</option>
                </select>
            </div>

            <div class="dropdowns">
                <select id="matchCount" name="matchCount" style="display:none;">
                    <option disabled selected value="default">모집인원 선택</option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                </select>
                <div class="date-container" style="display:none;">
                    <label for="endDate">종료 날짜 지정</label>
                    <input type="date" id="endDate" name="endDate">
                </div>
            </div>

            <input type="text" id="title" placeholder="제목을 입력해주세요." class="title-input" name="title" required>
            <div id="editor"></div>
            <input type="hidden" name="content" id="content" required>
            <input type="hidden" name="thumbnailUrl" id="thumbnailUrl">

            <div style="text-align: right">
                <button type="submit" class="submit-btn">글쓰기</button>
            </div>
        </div>
    </form>

    <div id='wrapper'></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script>
    let imageFiles = [];  // 이미지 파일을 관리할 배열
    let imageMap = new Map();  // 이미지 src와 파일 객체를 매핑할 맵

    let quill = new Quill('#editor', {
        theme: 'snow',
        modules: {
            toolbar: [
                [{ 'header': [1, 2, false] }],
                ['bold', 'italic', 'underline'],
                [{ 'color': [] }, { 'background': [] }],
                ['link', 'image']
            ]
        }
    });

    function resizeImage(file, maxWidth, maxHeight, callback) {
        const reader = new FileReader();
        reader.onload = function(event) {
            const img = new Image();
            img.onload = function() {
                let width = img.width;
                let height = img.height;

                if (width > maxWidth || height > maxHeight) {
                    const scalingFactor = Math.min(maxWidth / width, maxHeight / height);
                    width = width * scalingFactor;
                    height = height * scalingFactor;
                }

                const canvas = document.createElement('canvas');
                canvas.width = width;
                canvas.height = height;
                const ctx = canvas.getContext('2d');
                ctx.drawImage(img, 0, 0, width, height);

                canvas.toBlob(function(blob) {
                    callback(blob);
                }, 'image/jpeg', 0.95); // JPEG 포맷, 품질은 95%
            };
            img.src = event.target.result;
        };
        reader.readAsDataURL(file);
    }

    function imageHandler() {
        let input = document.createElement('input');
        input.setAttribute('type', 'file');
        input.setAttribute('accept', 'image/*');
        input.click();

        input.onchange = function() {
            const file = input.files[0];
            resizeImage(file, 1280, 1280, function(resizedBlob) {
                let reader = new FileReader();
                reader.onload = function(e) {
                    let range = quill.getSelection();
                    quill.insertEmbed(range.index, 'image', e.target.result);
                    quill.setSelection(range.index + 1);

                    // 파일 객체와 이미지 src를 매핑
                    imageMap.set(e.target.result, resizedBlob); // 리사이징된 이미지를 매핑
                    imageFiles.push(resizedBlob); // 리사이징된 이미지를 배열에 추가
                };
                reader.readAsDataURL(resizedBlob);
            });
        };
    }

    quill.getModule('toolbar').addHandler('image', imageHandler);

    // 이미지 삭제 핸들러: 에디터에서 이미지가 삭제되면 배열에서도 제거
    quill.on('text-change', function(delta, oldDelta, source) {
        if (source === 'user') {
            let ops = delta.ops;
            for (let i = 0; i < ops.length; i++) {
                if (ops[i].delete) {
                    let index = quill.getSelection().index;
                    let [leaf] = quill.getLeaf(index - 1);
                    if (leaf.domNode && leaf.domNode.tagName === 'IMG') {
                        let src = leaf.domNode.src;
                        let fileToRemove = imageMap.get(src);

                        // 배열에서 해당 파일 제거
                        imageFiles = imageFiles.filter(file => file !== fileToRemove);

                        // 맵에서도 해당 항목 제거
                        imageMap.delete(src);
                    }
                }
            }
        }
    });

    function validateFormInputs() {
        document.getElementById('content').value = quill.root.innerHTML;

        let categoryTitle = document.getElementById('categoryTitle');
        let postCategoryTitle = document.getElementById('postCategoryTitle');
        let matchCount = document.getElementById('matchCount');
        let endDate = document.getElementById('endDate');
        let title = document.getElementById('title');
        let content = document.getElementById('content');

        return (
            categoryTitle.value === 'default' ||
            postCategoryTitle.value === 'default' ||
            (categoryTitle.value === 'match' && (matchCount.value === 'default' || !endDate.value)) ||
            !title.value.trim() ||
            !content.value.trim()
        );
    }

    function submitPostForm(categoryTitle, url) {
        let selectedCategory = categoryTitle.options[categoryTitle.selectedIndex].value;
        document.getElementById('postForm').action = '/' + selectedCategory + '/write';
        document.getElementById('thumbnailUrl').value = url;
        document.getElementById('postForm').submit();
    }

    function uploadImages(imageFiles) {
        let formData = new FormData();
        imageFiles.forEach(file => formData.append('images', file));

        return fetch('/uploadImages', {
            method: 'POST',
            body: formData,
            headers: {
                'Accept': 'application/json',
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data && data.length > 0) {
                    return data[0].url;  // 첫 번째 이미지 URL을 반환
                } else {
                    throw new Error('이미지 업로드 실패: ' + (data.message || 'Unknown error'));
                }
            });
    }

    document.getElementById('postForm').addEventListener('submit', function(event) {
        event.preventDefault();
        let categoryTitle = document.getElementById('categoryTitle');

        if (validateFormInputs()) {
            alert('모든 필드를 올바르게 입력해주세요.');
        } else {
            if (imageFiles.length > 0) {
                uploadImages(imageFiles).then(url => {
                    submitPostForm(categoryTitle, url);
                }).catch(error => {
                    console.error('Error:', error);
                    alert('이미지 업로드 중 오류가 발생했습니다.');
                });
            } else {
                submitPostForm(categoryTitle);
            }
        }
    });

    document.getElementById('endDate').min = new Date().toISOString().split("T")[0];
</script>
</body>
</html>
