<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="/css/findform.css">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("findPassword").addEventListener("submit", function(event) {
                event.preventDefault();

                const username = document.getElementById("username").value;
                const email = document.getElementById("email").value;

                const xhr = new XMLHttpRequest();
                xhr.open("POST", "/findpw", true);
                xhr.setRequestHeader("Content-Type", "application/json");

                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4) { // 요청 완료
                        if (xhr.status === 200) {   // 요청 성공
                            alert(xhr.responseText);
                            window.location.href = '/loginform';
                        } else {
                            alert(xhr.responseText);
                        }
                    }
                };

                const data = JSON.stringify({ username: username, email: email });
                xhr.send(data);
            });
        });
    </script>
</head>
<body>
<div class="container">
    <header>
        <a class="logo" href="/home">
            <h2 class="logo-text">In Concert</h2>
        </a>
    </header>
    <div class="find-container">
        <form id="findPassword">
            <div>
                <label for="username">아이디</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="email">이메일</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="default-find">
                <button type="submit">비밀번호 찾기</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
