<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
    <link rel="stylesheet" href="/css/findform.css">
</head>
<body>
<div class="container">
    <header>
        <a class="logo" th:href="@{/home}">
            <h2 class="logo-text"> In Concert </h2>
        </a>
    </header>
    <div class="find-container">
        <form id="findIdForm">
            <div>
                <label class="find-name" for="name">이름</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="email">이메일</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="default-find">
                <button type="submit">아이디 찾기</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const findIdForm = document.getElementById('findIdForm');
        findIdForm.addEventListener('submit', function (event) {
            event.preventDefault();

            const name = document.getElementById('name').value;
            const email = document.getElementById('email').value;

            fetch('/idform', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    name: name,
                    email: email
                })
            })
                .then(response => {
                    if (response.status === 404) {
                        throw new Error('사용자가 존재하지 않습니다.');
                    }
                    return response.text();
                })
                .then(data => {
                    alert(`당신의 아이디는 ${data} 입니다.`);
                    window.location.href = '/loginform';
                })
                .catch(error => {
                    alert(error.message);
                });
        });
    });
</script>
</body>
</html>
