<!DOCTYPE html>
<html lang="ko" class="jua-regular" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fragment Header</title>
</head>
<body>
<div th:fragment="header">
    <header>
        <div class="left">
            <a class="logo" th:href="@{/home}">
                <img class="logo-img" src="/images/logo.png" alt="No Posts"/>
                <h2 class="logo-text"> In Concert </h2>
            </a>
            <div class="category">
                <a th:href="@{/info}"
                   th:classappend="${categoryTitle == 'info'} ? ' selected'">
                    <span> 공연 소식 </span>
                </a>
                <a th:href="@{/review}"
                   th:classappend="${categoryTitle == 'review'} ? ' selected'">
                    <span> 공연 후기 </span>
                </a>
                <a th:href="@{/match}"
                   th:classappend="${categoryTitle == 'match'} ? ' selected'">
                    <span> 동행 </span>
                </a>
                <a th:href="@{/transfer}"
                   th:classappend="${categoryTitle == 'transfer'} ? ' selected'">
                    <span> 양도 </span>
                </a>
            </div>
        </div>

        <div class="right">
            <form class="search" action="/search" method="get" onsubmit="return validateSearch()">
                <input id="search-input" name="keyword" placeholder="게시판 검색" th:value="${headerKeyword}">
                <button type="submit">
                    <img class="logo-img" src="/images/search.png" alt="No Posts"/>
                </button>
            </form>

            <div class="user-header">
                <div sec:authorize="isAnonymous()">
                    <a th:href="@{/loginform}">로그인</a>
                    <a th:href="@{/registerform}">회원가입</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a th:href="@{/write}">
                        <span class="write-btn"> 글쓰기 </span>
                    </a>
                    <a th:href="@{/chat/list}">
                        <img class="chat-img" src="/images/chat.png" alt="No Posts"/>
                    </a>
                    <a th:href="@{/notifications}">
                        <img class="notification-img" src="/images/notification.png" alt="No Posts"/>
                    </a>
                    <div class="dropdown">
                        <img class="profile-img" th:src="${#authentication.principal.profileImage}" alt="No Posts"/>
                        <div class="dropdown-content">
                            <a th:href="@{/mypage}">마이페이지</a>
                            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/report}">신고 목록</a>
                            <a th:href="@{/logout}">로그아웃</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</body>
</html>