/* 공통 설정 */
html {
    font-family: Arial, sans-serif;
    height: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    flex-shrink: 0;
}

p{
    margin: 5px;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

.container {
    flex: 1;
    width: 60%;
    max-width: 60%;
    margin: 0 auto;
}

/* footer 설정 */
#wrapper {
    padding-bottom: 70px;
}

.footer {
    height: 70px;
    background-color: #6f6f6f;
    color: white;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 3px 0;
}


/* login 설정 */
header {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bolder;
    margin: 30px 0;
}

.logo-text{
    font-weight: bolder;
    font-style: italic;
    color: #00A885;
    margin: 0;
}

.logo-text:hover{
    cursor: pointer;
}

.find-container{
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 60px;
    width: calc(100% - 120px);
    max-width: calc(100% - 120px);
    margin: 0 auto;
}

.find-container label {
    display: inline-block;
    width: 55px;
    height: 20px;
    vertical-align: middle;
    text-align: right;
}

#name, #email, #username{
    border: 1px solid #00A885;
    width: calc(30%);
    max-width: calc(30%);
    margin: 15px;
    font-size: 16px;
    outline: none;
    padding: 5px;
    height: 20px;
    line-height: 30px;
    vertical-align: middle;
}

#username:focus, #email:focus {
    background-color: transparent;
}

.default-find {
    width: 10%;
    max-width: 10%;
    margin: 20px auto 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.default-find > button {
    background-color: #00A885;
    opacity: 0.6;
    border-radius: 20px;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    padding: 10px;
}

.default-find > button:hover {
    cursor: pointer;
}