/* 공통 설정 */
html {
    font-family: Arial, sans-serif;
    height: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    flex-shrink: 0;
}

p{
    margin: 5px;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

.container {
    flex: 1;
    min-width: calc(100% - 300px);
    max-width: calc(100% - 300px);
    margin: 0 auto;
}


/* 헤더 설정 */
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-width: 1300px;
    max-width: 1300px;
}

header {
    display: flex;
    min-width: 1280px;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 30px;
}

.logo-text{
    font-weight: bolder;
    font-style: italic;
    color: #00A885;
}

.logo-img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.category{
    display: flex;
    align-items: center;
    gap: 30px;
}

.category a{
    color: #6f6f6f;
    text-decoration: none;
    margin-top: 2px;
}

.category a:hover{
    color: #00A885;
}

.right {
    display: flex;
    align-items: center;
    text-align: right;
    gap: 20px;
}

.right a{
    color: #6f6f6f;
    text-decoration: none;
}

.search{
    display: flex;
    align-items: center;
    border: #6f6f6f 1px solid;
    border-radius: 10px;
}

.search  > button{
    border: none;
    background-color: transparent;
}

.search  > button:hover{
    cursor: pointer;
}

.search img{
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 5px;
}

.search input{
    border: none;
    min-width: 240px;
    min-height: 30px;
    margin-left: 10px;
    outline: none;
}

.user-header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.write-btn {
    background-color: #00A885;
    color: white;
    text-decoration: none;
    border: 1px #6f6f6f solid;
    border-radius: 15px;
    padding: 5px 10px;
}

.profile-img, .notification-img, .chat-img{
    width: 30px;
    height: 30px;
}

.profile-img{
    border-radius: 50%;
}

.profile-img:hover{
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    border-radius: 15px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 0;
    border-radius: 15px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* footer 설정 */
#wrapper {
    padding-bottom: 70px;
}

.footer {
    height: 70px;
    background-color: #6f6f6f;
    color: white;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 3px 0;
}

.popular-info-container{
    border: #ccc 1px solid;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    min-width: 1260px;
    max-width: 1260px;
}

.popular-info-container div h1{
    color: #00A885;
    padding: 0;
    margin: 0 0 30px;
}

.popular-info-img-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.popular-info{
    text-align: center;
}

.popular-info > span{
    color: #00A885;
    font-size: 20px;
}

.popular-info-img-container img{
    height: 400px;
    width: 300px;
    display: block;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.popular-info-img-container a{
    text-decoration: none;
    color: #00A885;
    border: #00A885 1px solid;
    border-radius: 20px;
    padding: 5px;
}

.board-container{
    display: flex;
    margin: 50px auto;
    min-width: 1300px;
    max-width: 1300px;
}

.board-container > div{
    min-width: calc(47%);
}

.board-header{
    display: flex;
    justify-content: space-between;
    color: #00A885;
    align-items: center;
    margin-top: 0;
    margin-bottom: 3px;
    padding: 0;
}

.board-header h1{
    padding: 0;
    margin: 0;
}

.board-header a{
    text-decoration: none;
    color: #00A885;
    padding: 0;
    margin: 0;
}

.post-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #6f6f6f;
}

.post-left{
    flex: 4;
    display: flex;
    align-items: center;
}

.post-left a{
    text-decoration: none;
    color: black;
    padding: 0;
}

.post-left a:hover{
    text-decoration: underline;
}

.post-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 270px;
    display: block;
}

.comment-count{
    color: red;
    padding: 0;
}

.post-left div{
    border: none;
    border-radius: 50%;
    background-color: red;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new{
    padding: 0;
    margin: 0;
    color: white;
    font-weight: bolder;
}

.post-right{
    color: #6f6f6f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 3;
    gap: 10px;
}

.post-right > p{
    text-align: center;
}