/* 공통 설정 */
html {
    font-family: Arial, sans-serif;
    height: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    flex-shrink: 0;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

.container {
    flex: 1;
    width: 60%;
    max-width: 60%;
    margin: 0 auto;
}

/* footer 설정 */
#wrapper {
    padding-bottom: 70px;
}

.footer {
    height: 70px;
    background-color: #6f6f6f;
    color: white;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 3px 0;
}

/* 알림 설정*/
header {
    display: flex;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bolder;
    margin: 30px 0;
}

.logo-text{
    font-weight: bolder;
    font-style: italic;
    color: #00A885;
    margin: 0;
}

.logo-text:hover{
    cursor: pointer;
}

.title-container{
    width: 100%;
    max-width: 100%;
    margin: 0 auto 50px;
}

.title-container > h1{
    padding-bottom: 10px;
    border-bottom: 1px solid #00A885;
    color: #00A885;
}

.tab-container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 10px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

.tab.active {
    background-color: #0BA885;
    color: white;
}

.tab-content {
    display: none;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background-color: #ccc;
}

.tab-content.active {
    display: block;
}

.tab-content > ul{
    padding: 0;
}

.notification {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.logo-img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.notification-content {
    flex-grow: 1;
}

.notification-message {
    word-break: break-word;
    white-space: pre-wrap;
    max-width: 100%;
}

.notification-type {
    font-weight: bold;
    color: #0BA885;
}

.read{
    opacity: 0.5;
}

.delete-button {
    padding: 5px 10px;
    background-color: transparent;
    color: red;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.delete-button:hover {
    font-weight: bolder;

}

#keywordForm {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

#keywordInput {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #0BA885;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#keywordList {
    background-color: transparent;
    margin-bottom: 20px;
    padding: 0;
    margin-top: 0;
}

#keywordList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.tab-content > ul > li:hover {
    cursor: pointer;
}

#keywordList button {
    background-color: white;
    color: #00A885;
    border: 1px solid #00A885;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 18px;
}

#keywordList button:hover {
    color: white;
    background-color: #00A885;
    cursor: pointer;
}