/* 공통 설정 */
html {
    font-family: Arial, sans-serif;
    height: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    flex-shrink: 0;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
}

.container {
    flex: 1;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 10px;
}

.logo-text{
    font-weight: bolder;
    font-style: italic;
    color: #00A885;
}

.logo-img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.category{
    display: flex;
    align-items: center;
    gap: 10px;
}

.category a{
    color: #6f6f6f;
    text-decoration: none;
    margin-top: 2px;
    padding-right: 10px;
    border-right: 1px solid #6f6f6f;
}

.category a:last-child{
    border-right: none;
}

.category a:hover{
    color: #00A885;
}

.category a.selected{
    color: #00A885;
}

.right {
    display: flex;
    align-items: center;
    text-align: right;
    gap: 10px;
}

.right a{
    color: #6f6f6f;
    text-decoration: none;
}

.search{
    display: flex;
    align-items: center;
    border: #6f6f6f 1px solid;
    border-radius: 10px;
}

.search  > button{
    border: none;
    background-color: transparent;
}

.search  > button:hover{
    cursor: pointer;
}

.search img{
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 5px;
}

.search input{
    border: none;
    min-width: 120px;
    min-height: 30px;
    margin-left: 10px;
    outline: none;
}

.user-header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.write-btn {
    background-color: #00A885;
    color: white;
    text-decoration: none;
    border: 1px #6f6f6f solid;
    border-radius: 15px;
    padding: 5px 10px;
}

.profile-img, .notification-img, .chat-img{
    width: 30px;
    height: 30px;
}

.profile-img{
    border-radius: 50%;
}

.profile-img:hover{
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    border-radius: 15px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 0;
    border-radius: 15px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* footer 설정 */
#wrapper {
    padding-bottom: 70px;
}

.footer {
    height: 70px;
    background-color: #6f6f6f;
    color: white;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 3px 0;
}

/* */
.review-block{
    margin-top: 40px;
}

.title-container{
    width: 100%;
    max-width: 100%;
    margin: 0 auto 50px;
}

.title-container > h1{
    border-bottom: 1px solid #ccc;
    color: #6f6f6f;
}

.title-container > p{
    color: #6f6f6f;
}

.post-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto;
    gap: 10px;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.post-header span {
    text-align: center;
}

.header-title {
    flex-basis: 60%;
}

.header-author,
.header-date,
.header-views,
.header-likes {
    flex-basis: 10%;
}

.post {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto;
    gap: 10px;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    border-bottom: 1px solid #ddd;
}

.post-left {
    flex-basis: 60%;
    display: flex;
    align-items: center;
    gap: 5px;
    min-width: 0;
}

.post-thumbnail {
    display: flex;
    align-items: center;
}

.post-thumbnail img {
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 50px;
    object-fit: cover;
}

.post-left > a:hover{
    text-decoration: underline;
}

.post-title{
    text-decoration: none;
    color: black;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    min-width: 0;
    max-width: 70%;
    gap: 5px;
}

.post-title > span:nth-child(2){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
}

.comment-count{
    color: red;
    padding: 0;
}

.new{
    border: none;
    border-radius: 50%;
    background-color: red;
    color: white;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post > span{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
    text-align: center;
    color: #6f6f6f;
}

.pagination > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.pagination > ul > li{
    list-style-type: none;
}

.pagination > ul > li a{
    color: #6f6f6f;
    text-decoration: none;
    align-items: center;
}

.pagination > ul > li.active a {
    color: #0BA885;
    font-weight: bold;
}

.pagination > ul > li.disabled a {
    color: #ccc;
    pointer-events: none;
    cursor: default;
}

.pagination > ul > li.disabled span {
    color: #ccc;
}