<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

<div class="login-container">
    <form class="login-form" th:action="@{/login}" method="post">
        <h2>로그인</h2>
        <label for="username">아이디를 입력해주세요.</label>
        <input type="text" id="username" name="username" required>

        <label for="password">암호를 입력해주세요.</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" class="login-button">로그인</button>
    </form>
</div>