<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 폼</title>
    <link rel="stylesheet" href="/css/registerform.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">
    <header>
        <a class="logo" href="/home">
            <h2 class="logo-text">In Concert</h2>
        </a>

        <div class="register-title">
            <h2>회원가입</h2>
        </div>
    </header>
    <div class="register-container">
        <div class="input-container">
            <form id="registerForm" th:action="@{/register}" method="post">
                <div class="form-group">
                    <label for="username">아이디</label>
                    <input type="text" id="username" name="username" placeholder="아이디" required>
                    <button type="button" id="checkIdBtn">중복 확인</button>
                </div>
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="password-confirm">비밀번호 확인</label>
                    <input type="password" id="password-confirm" name="password-confirm" required>
                </div>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input type="email" id="email" name="email" required>
                    <button type="button" id="checkEmailBtn">이메일 확인</button>
                </div>
                <div class="form-group">
                    <label for="certificationNumber">인증번호</label>
                    <input type="text" id="certificationNumber" name="certificationNumber" required>
                    <button type="button" id="checkCertificationBtn">인증번호 확인</button>
                </div>
                <div class="form-group">
                    <label for="name">이름</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="nickname">닉네임</label>
                    <input type="text" id="nickname" name="nickname" required>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">핸드폰 번호</label>
                    <input type="tel" id="phoneNumber" name="phoneNumber" required>
                </div>
                <div class="form-group">
                    <label for="birth">생년월일</label>
                    <input type="date" id="birth" name="birth" required>
                </div>
                <div class="form-group">
                    <label for="gender">성별</label>
                    <select id="gender" name="gender" required>
                        <option value="">선택하세요</option>
                        <option value="MALE">남성</option>
                        <option value="FEMALE">여성</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="mbti">MBTI</label>
                    <select id="mbti" name="mbti" required>
                        <option value="">선택하세요</option>
                        <option value="INTJ">INTJ</option>
                        <option value="INTP">INTP</option>
                        <option value="ENTJ">ENTJ</option>
                        <option value="ENTP">ENTP</option>
                        <option value="INFJ">INFJ</option>
                        <option value="INFP">INFP</option>
                        <option value="ENFJ">ENFJ</option>
                        <option value="ENFP">ENFP</option>
                        <option value="ISTJ">ISTJ</option>
                        <option value="ISFJ">ISFJ</option>
                        <option value="ESTJ">ESTJ</option>
                        <option value="ESFJ">ESFJ</option>
                        <option value="ISTP">ISTP</option>
                        <option value="ISFP">ISFP</option>
                        <option value="ESTP">ESTP</option>
                        <option value="ESFP">ESFP</option>
                    </select>
                </div>
                <div class="submit-container">
                    <div class="form-group">
                        <label for="agree">In Concert 가입 - 개인정보 약관에 동의합니다.</label>
                        <input type="checkbox" id="agree" name="agree" required>
                    </div>
                    <button type="button" id="registerBtn" class="submit-btn">가입하기</button>
                </div>
            </form>
        </div>
        <div class="logo-img">
            <img src="/images/logo.png" alt="로고 이미지">
        </div>
    </div>
    <div id='wrapper'></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:inline="javascript">
    document.getElementById('checkIdBtn').addEventListener('click', function () {
        let username = document.getElementById('username').value;
        fetch('/user/id-check', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ username: username }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.code === "SU") {
                    alert('사용 가능한 아이디입니다.');
                } else {
                    alert('이미 존재하는 아이디입니다.');
                }
            })
            .catch(error => console.error('Error:', error));
    });

    document.getElementById('checkEmailBtn').addEventListener('click', function () {
        let email = document.getElementById('email').value;
        let username = document.getElementById('username').value;
        fetch('/user/email-check', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email: email, username: username }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.code === "SU") {
                    alert('사용 가능한 이메일입니다. 인증 번호를 전송합니다.');
                    fetch('/user/email-certification', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ email: email, username: username }),
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.code === "SU") {
                                alert('인증 번호가 전송되었습니다.');
                            } else {
                                alert('인증 번호 전송에 실패했습니다.');
                            }
                        })
                        .catch(error => console.error('Error:', error));
                } else {
                    alert('이미 존재하는 이메일입니다.');
                }
            })
            .catch(error => console.error('Error:', error));
    });

    document.getElementById('checkCertificationBtn').addEventListener('click', function () {
        let certificationNumber = document.getElementById('certificationNumber').value;
        let email = document.getElementById('email').value;
        let username = document.getElementById('username').value;
        fetch('/user/check-certification', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email: email, username: username, certificationNumber: certificationNumber }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.code === "SU") {
                    alert('인증되었습니다.');
                } else {
                    console.log('인증 번호가 일치하지 않습니다.');
                }
            })
            .catch(error => console.error('Error:', error));
    });

    document.getElementById('registerBtn').addEventListener('click', function () {
        let password = document.getElementById('password').value;
        let passwordConfirm = document.getElementById('password-confirm').value;
        if (password !== passwordConfirm) {
            alert('비밀번호가 일치하지 않습니다.');
            return;
        }

        let form = document.getElementById('registerForm');
        let formData = new FormData(form);

        fetch('/register', {
            method: 'POST',
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if (data.code === "SU") {
                    alert('회원가입이 완료되었습니다.');
                    window.location.href = '/home';
                } else {
                    alert('회원가입에 실패했습니다. 다시 시도해주세요.');
                }
            })
            .catch(error => console.error('Error:', error));
    });
</script>
</body>
</html>