/* 공통 설정 */
html {
    font-family: Arial, sans-serif;
    height: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    flex-shrink: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

.container {
    flex: 1;
    width: 45%;
    max-width: 45%;
    margin: 0 auto;
}

header {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bolder;
    margin: 30px 0;
}

.logo-text{
    font-weight: bolder;
    font-style: italic;
    color: #00A885;
    margin: 0;
}

.logo-text:hover{
    cursor: pointer;
}

/* footer 설정 */
#wrapper {
    padding-bottom: 70px;
}

.footer {
    height: 70px;
    background-color: #6f6f6f;
    color: white;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 3px 0;
}

/* chat 화면 */

.title-container{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.title-container > h1{
    padding-bottom: 10px;
    border-bottom: 1px solid #00A885;
    color: #00A885;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto 15px;
    width: 100%;
    max-width: 100%;
}

.button-container > a{
    text-decoration: none;
    color: #00a885;
    font-size: 20px;
    font-weight: bolder;
}

.button-container > a:hover{
    color: black;
    cursor: pointer;
}

.report-container{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.report-title{
    padding: 20px 0;
    border-bottom: 1px solid #00a885;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.report-title > div{
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: left;
}

.report-title > div > p{
    margin: 5px 0;
}

.report-title > div > p:first-child{
    flex: 0.5;
    color: #00a885;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}

.report-title > div > p:nth-child(2){
    flex: 5;
    color: #6f6f6f;
    font-size: 16px;
}

.report-content{
    margin-left: 10px;
    margin-right: 10px;
}

.report-content > p{
    color: #00a885;
    font-weight: bold;
    font-size: 20px;
}

.report-content > div{
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 30px;
}

.report-content > div > p{
    border-bottom: 1px solid #ccc;
    padding: 15px;
    margin: 0;
}

.report-content > div > p:last-child{
    border: none;
}

.report-content > button{
    background-color: #00a885;
    color: white;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 100%;
    padding: 10px;
}

.report-content > button:hover{
    background-color: white;
    color: #00a885;
    cursor: pointer;
}

