/* 공통 설정 */
html {
    font-family: Arial, sans-serif;
    height: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    flex-shrink: 0;
}

p{
    margin: 5px;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

.container {
    flex: 1;
    min-width: calc(100% - 300px);
    max-width: calc(100% - 300px);
    margin: 0 auto;
}


/* 헤더 설정 */
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-width: 1300px;
    max-width: 1300px;
}

header {
    display: flex;
    min-width: 1280px;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 30px;
}

.logo-text{
    font-weight: bolder;
    font-style: italic;
    color: #00A885;
}

.logo-img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.category{
    display: flex;
    align-items: center;
    gap: 30px;
}

.category a{
    color: #6f6f6f;
    text-decoration: none;
    margin-top: 2px;
}

.category a:hover{
    color: #00A885;
}

.category a.selected{
    color: #00A885;
}

.right {
    display: flex;
    align-items: center;
    text-align: right;
    gap: 30px;
}

.right a{
    color: #6f6f6f;
    text-decoration: none;
}

.search{
    display: flex;
    align-items: center;
    border: #6f6f6f 1px solid;
    border-radius: 10px;
}

.search img{
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 5px;
}

.search input{
    border: none;
    min-width: 240px;
    min-height: 30px;
    margin-right: 10px;
    outline: none;
}

.user-header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-header a{
    margin-left: 15px;
}

.write-btn {
    background-color: #00A885;
    color: white;
    text-decoration: none;
    border: 1px #6f6f6f solid;
    border-radius: 15px;
    padding: 5px 10px;
}

.profile-img, .notification-img, .chat-img{
    width: 30px;
    height: 30px;
}

.profile-img{
    border-radius: 50%;
}

.profile-img:hover{
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    border-radius: 15px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 0;
    border-radius: 15px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* footer 설정 */
#wrapper {
    padding-bottom: 70px;
}

.footer {
    height: 70px;
    background-color: #6f6f6f;
    color: white;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 3px 0;
}

/* tab 설정 */
.tabs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1300px;
    max-width: 1300px;
    margin: 0 auto;
}

.tabs {
    display: flex;
    justify-content: space-between;
    background-color: #9f9f9f;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    min-width: 1280px;
    max-width: 1280px;
}

.tab-button {
    flex: 1;
    padding: 0;
    margin: 0 10px;
    border: none;
    background-color: transparent;
    text-align: center;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.tab-button:hover {
    color: #00A885;
    cursor: pointer;
}

/*board 설정*/
.board-container{
    display: flex;
    justify-content: center;
    margin: 0 auto 50px;
    min-width: 1300px;
    max-width: 1300px;
}

.board-container > div{
    min-width: calc(40%);
    max-width: calc(40%);
}

.board-header{
    display: flex;
    justify-content: space-between;
    color: #00A885;
    align-items: center;
    margin-top: 0;
    margin-bottom: 3px;
    padding: 0;
}

.board-header h1{
    padding: 0;
    margin: 0;
}

.board-header a{
    text-decoration: none;
    color: #00A885;
    padding: 0;
    margin: 0;
}

.post-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #6f6f6f;
}

.post-left{
    display: flex;
    align-items: center;
}

.post-left a{
    text-decoration: none;
    color: black;
    padding: 0;
}

.post-left a:hover{
    text-decoration: underline;
}

.comment-count{
    color: red;
    padding: 0;
}

.post-left div{
    border: none;
    border-radius: 50%;
    background-color: red;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new{
    padding: 0;
    margin: 0;
    color: white;
    font-weight: bolder;
}

.post-right{
    color: #6f6f6f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}