/* 공통 설정 */
html {
    font-family: Arial, sans-serif;
    height: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    flex-shrink: 0;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
}

.container {
    flex: 1;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 10px;
}

.logo-text{
    font-weight: bolder;
    font-style: italic;
    color: #00A885;
}

.logo-img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.category{
    display: flex;
    align-items: center;
    gap: 10px;
}

.category a{
    color: #6f6f6f;
    text-decoration: none;
    margin-top: 2px;
    padding-right: 10px;
    border-right: 1px solid #6f6f6f;
}

.category a:last-child{
    border-right: none;
}

.category a:hover{
    color: #00A885;
}

.category a.selected{
    color: #00A885;
}

.right {
    display: flex;
    align-items: center;
    text-align: right;
    gap: 10px;
}

.right a{
    color: #6f6f6f;
    text-decoration: none;
}

.search{
    display: flex;
    align-items: center;
    border: #6f6f6f 1px solid;
    border-radius: 10px;
}

.search  > button{
    border: none;
    background-color: transparent;
}

.search  > button:hover{
    cursor: pointer;
}

.search img{
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 5px;
}

.search input{
    border: none;
    min-width: 120px;
    min-height: 30px;
    margin-left: 10px;
    outline: none;
}

.user-header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.write-btn {
    background-color: #00A885;
    color: white;
    text-decoration: none;
    border: 1px #6f6f6f solid;
    border-radius: 15px;
    padding: 5px 10px;
}

.profile-img, .notification-img, .chat-img{
    width: 30px;
    height: 30px;
}

.profile-img{
    border-radius: 50%;
}

.profile-img:hover{
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    border-radius: 15px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 0;
    border-radius: 15px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* footer 설정 */
#wrapper {
    padding-bottom: 70px;
}

.footer {
    height: 70px;
    background-color: #6f6f6f;
    color: white;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 3px 0;
}

/* tab 설정 */
.tabs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.tabs {
    display: flex;
    justify-content: space-between;
    background-color: #9f9f9f;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
}

.tab-button {
    flex: 1;
    padding: 0;
    margin: 0 10px;
    border: none;
    background-color: transparent;
    text-align: center;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.tab-button:hover {
    color: #00A885;
    cursor: pointer;
}

.tab-button.selected{
    color: #00A885;
}

.review-block {
    margin-top: 40px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.button-group a{
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    color: black;
    text-decoration: none;
    background-color: #ccc;
}

.button-group a:hover{
    background-color: #9f9f9f;
}

.post-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 3px;
}

.title-container h2:last-of-type {
    word-break: break-all;
    white-space: normal;
}

.post-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
}

.post-info > div:first-child{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #666;
}

.post-info .profile-img {
    width: 40px;
    height: 40px;
    margin-top: 3px;
    border-radius: 50%;
}

.author-row, .date-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat-button, .report-button {
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
    padding: 5px 8px;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.chat-button:hover {
    background-color: #ddd;
}

.date, .views {
    font-size: 12px;
    color: #999;
}

.post-info-detail{
    align-items: center;
}

.post-info-detail > div{
    display: flex;
    align-items: center;
    gap: 3px;
}

.post-info-detail > div > p{
    margin: 0 0 5px;
}

.post-info-detail > div > p:first-child{
    color: #00a885;
    font-size: 14px;
}

.post-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.post-body img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    text-align: center;
}

.post-text {
    text-align: left;
    width: 100%;
    word-break: break-all;
    white-space: normal;
}

.interaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #d3d3d3;
    border-radius: 20px;
    color: #666;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.interaction .like-icon {
    border: none;
    background-color: transparent;
    margin-right: 5px;
    font-size: 16px;
}

.interaction .like-icon:hover {
    cursor: pointer;
}

.interaction span {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.sort-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 20px 0;
}

.sort-button {
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.sort-button:hover {
    background-color: #ddd;
}

.comments {
    margin-top: 20px;
}

.comment-wrapper {
    padding-top: 12px;
    border-top: 1px solid #ddd;
}

.comment {
    margin-bottom: 20px; /* 댓글 사이의 간격을 유지하기 위해 추가 */
}

.comment-content {
    justify-content: space-between;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.comment-author-info {
    display: flex;
    align-items: center;
}

.comment-author-info > div > .author,
.comment-author-info > div > .date {
    margin: 0 0 0 5px;
}

.comment-header .author{
    display: flex;
    align-items: center;
}

.comment-header .author > p{
    margin: 0;
}

.comment-header .author > p:first-child {
    font-weight: bold;
    margin-right: 5px;
}

.comment-header .author > p:nth-child(2) {
    color: gray;
}

.comment-header .date {
    font-size: 12px;
    color: #999;
}

.comment-options {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.comment-options-btn {
    background: none;
    border: none;
    color: #00A885;
    font-size: 15px;
    padding: 0;
    cursor: pointer;
}

.comment-form {
    margin-bottom: 30px;
}

.comment-textarea::placeholder {
    color: #999;
}

.comment-textarea {
    font-size: 16px;
    width: 98.3%;
    margin-top: 10px;
    padding: 10px 10px 70px;
    border: 1px solid #2A2A2A;
    border-radius: 5px;
    resize: none;
}

.comment-form-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.comment-form-actions-add {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.comment-form-actions .submit-btn {
    background: none;
    border: none;
    color: #00A885;
    font-size: 15px;
    text-decoration: none;
    padding: 8px 10px 8px 0;
    margin: 5px 0;
    cursor: pointer;
}

.comment-form-actions .cancel-btn {
    background: none;
    border: none;
    color: #00A885;
    font-size: 15px;
    text-decoration: none;
    padding: 8px 10px;
    margin: 5px 0;
    cursor: pointer;
}

.comment-form-actions-add .submit-btn {
    background-color: #00A885;
    color: white;
    font-size: 16px;
    border: 1px #6f6f6f solid;
    border-radius: 15px;
    text-decoration: none;
    padding: 8px 30px;
}

.comment-form-actions-add .submit-btn:hover {
    background-color: #3ccba3;
    cursor: pointer;
}

.reply {
    margin-left: 40px;
    margin-bottom: 10px;
}

.reply-btn {
    background: none;
    border: none;
    color: #00A885;
    font-size: 15px;
    text-decoration: none;
    padding: 5px 5px;
    margin-top: 5px;
}

.reply-btn:hover {
    /*background-color: #00b490;*/
    cursor: pointer;
}

.comment-p {
    margin: 20px 0 20px 5px;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 100%;
}

.comment-p.secret {
    color: #00a885;
    font-weight: bold;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 100%;
}

.comment-actions-reply {
    margin-bottom: 20px;
}

/* 팝업 css */

.popup {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* 검은색 배경, 투명도 50% */
}

.popup-content {
    margin: 10% auto;
    width: 80%;
    max-width: 500px;
    text-align: center;
    position: relative;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 460px;
    text-align: left;
    position: relative;
    transition: opacity 0.5s, transform 0.5s;
    opacity: 0;
    transform: scale(0);
    display: none;
}

.card.show {
    opacity: 1;
    transform: scale(1);
    display: block;
}

.popup-btn{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
}

.chat-btn {
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.chat-btn:hover {
    background-color: #ccc;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* 닉네임이 이미지 아래 중앙에 위치하도록 */
    padding: 20px 0 0 10px;
}

.profile-img3 {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.nickname {
    font-size: 1.2em;
    font-weight: bold;
    color: #00a885;
    margin-top: 15px; /* 프로필 이미지와 닉네임 사이의 간격 */
}

.profile-right {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 개인정보가 이미지와 같은 높이에 정렬되도록 */
    min-width: calc(60%);
    max-width: calc(60%);
}

.profile-right strong {
    color: #00a885;
}

.space {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.user-birth,
.space-mail,
.space-mbti,
.manner{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.space > div:first-child,
.user-birth > div:first-child,
.space-mail > div:first-child,
.space-mbti > div:first-child,
.manner > div:first-child{
    flex: 3;
    text-align: right;
    margin-right: 5px;
}

.space > div:first-child > p,
.user-birth > div:first-child > p,
.space-mail > div:first-child > p,
.space-mbti > div:first-child > p,
.manner > div:first-child > p{
    color: #00a885;
    font-weight: bold;
}

.space > div:nth-child(2),
.user-birth > div:nth-child(2),
.space-mail > div:nth-child(2),
.space-mbti > div:nth-child(2),
.manner > div:nth-child(2){
    flex: 7;
}

.space-mbti > div:nth-child(2),
.manner > div:nth-child(2){
    color: #00aaff;
}

.intro {
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px 10px 10px 10px;
    background-color: #f9f9f9;
}

.intro > p:first-child {
    color: #00a885;
    font-weight: bold;
}

.intro > p:nth-child(2){
    margin-top: 15px;
    margin-bottom: 50px;
    color: #333;
    word-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}

#kakaotalk-sharing-btn {
    margin-left: auto;
}

#kakaotalk-sharing-btn img {
    width: 29px;
    height: 29px;
}

#twitter-sharing-btn {
    margin-left: 10px;
}

#twitter-sharing-btn img {
    border-radius: 5px;
    padding: 5px;
    background-color: #000000;
    width: 19px;
    height: 19px;
}