/* 공통 설정 */
html {
    font-family: Arial, sans-serif;
    height: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    flex-shrink: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

.container {
    flex: 1;
    width: 45%;
    max-width: 45%;
    margin: 0 auto;
}

header {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bolder;
    margin: 30px 0;
}

.logo-text{
    font-weight: bolder;
    font-style: italic;
    color: #00A885;
    margin: 0;
}

.logo-text:hover{
    cursor: pointer;
}

/* footer 설정 */
#wrapper {
    padding-bottom: 70px;
}

.footer {
    height: 70px;
    background-color: #6f6f6f;
    color: white;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 3px 0;
}

/* chat 화면 */

.title-container{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.title-container > h1{
    padding-bottom: 10px;
    border-bottom: 1px solid #00A885;
    color: #00A885;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto 50px;
    width: 100%;
    max-width: 100%;
}

.button-container > a{
    text-decoration: none;
    color: #00a885;
    font-size: 20px;
    font-weight: bolder;
}

.button-container > a:hover{
    color: black;
    cursor: pointer;
}

.chat-container{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #ccc;
}

.chat-container:last-child{
    margin-bottom: 100px;
}

.chat-container > div{
    display: flex;
    align-items: center;
}

.chat-container > div:first-child{
    min-width: 0;
    max-width: 100%;
    overflow: hidden;
}

.chat-container > div:nth-child(2){
    justify-content: flex-end;
}

.chat-container > div > a{
    text-decoration: none;
    min-width: 0;
    max-width: 90%;
}

.chat-container > div > a:hover{
    cursor: pointer;
}

.chat-container > div > a > span{
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
}

.chat-container > div > a > span:hover{
    cursor: pointer;
    color: #00A885;
}

.chat-container > div:first-child > img{
    width: 70px;
    max-width: 70px;
    height: 70px;
    max-height: 70px;
    margin-right: 10px;
}

.chat-container > div:nth-child(2) > img{
    width: 20px;
    max-width: 20px;
    height: 20px;
    max-height: 20px;
}

.chat-container > div:nth-child(2) > span{
    color: black;
    font-size: 16px;
    font-weight: bolder;
    margin-right: 10px;
}

.chat-container > div:nth-child(2) > span:last-child{
    color: #00a885;
}

.chat-container > span{
    color: #00a885;
    font-size: 14px;
}